body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-around;
  padding: 12px 0;
  background-color: #1f2937;
}

img {
  height: auto;
  width: 75px;
}

.header ul {
  display: flex;
  gap: 10px;
  list-style: none;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}


.container {
  flex: 1 1 auto;
}

.description-section {
  display: flex;
  gap: 0px;
  justify-content: space-around;
  align-items: center;
  padding: 48px;
  background-color: #1f2937
}

.description-text {
  max-width: 400px;
  font-size: 18px;
  color: #e5e7eb;
}

.description-text strong {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin: 0px;
}

.description-text p {
  margin: 10px 0;
}

.description-section button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 30px;
  border: 0;
  margin: 0px;
}

.description-section img {
  width: 200px;
}

.information-section {
  text-align: center;
  padding: 48px;
}

.information-container {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.information-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 36px;
}

.information-container img {
  height: 100px;
  width: 150px;
  border-radius: 25px;
  border: 7px solid #3882f6;
}

.information-container .info {
  max-width: 250px;
}

.information-container a {
  color: black;
  text-decoration: dotted underline;
}

.quote-section {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.quote-container {
  max-width: 1000px;
}

.quote-container em {
  font-size: 36px;
  color: #1f2937;
  font-weight: 100;
}

.quote-container strong {
  display: flex;
  justify-content: flex-end;
  font-size: 26px;
  margin-top: 20px;
}



.footer {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 14px;
}

.footer a {
  padding: 0px;
  margin: 0 5px;
  font-size: 14px;
}
